@media (max-width: 1125px){
	.header_body, .content {
		width: 700px;
	}
	.ex {
		left: 0;
		top: 0;
		transform: none;
		margin-bottom: 70px;
	}
	.content {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.content :nth-child(odd){
		align-self: start;
	}
	.content :nth-child(even){
		align-self: end;
	}
}

@media (max-width: 780px){
	.header_body, .content {
		width: 85%;
	}
	.content .ex{
		align-self: center;
		margin-bottom: 10px;
	}
	.content :nth-child(even){
		transform: scale(0.8);
	}

}



@media (max-width: 535px) {
	.content .ex{
		width: 300px;
		height: 242px;
		margin-bottom: 10px;
	}

	.ex:after {
		content: '';
		position: absolute;
		width: 30px;
		height: 30px;
		background: url(../img/clip.png) 0 0/100% no-repeat;
		top: -15px;
		left: 250px;
	}
	.header_mail {
		position: static;
	}
	.text_mail{
		display: block;
		background-color: #9E9B98;
		height: 30px;
		width: 100%;
		position: absolute;
		top: 80px;
		left: 150%;
		text-align: center;
		transition-duration: 0.3s;
		z-index: 2;

	}
	

	.text_mail.active{
		left: 0px;
		transition-duration: 0.3s;
		transition-timing-function: ease;

	}
	.icon_mail{
		display: inline-block;
		width: 25px;
		height: 25px;
		background: url(../img/mail.png) 0 0/100% no-repeat;
		transition-duration: 0.3s;
	}

	.icon_mail.active{
		background: url(../img/mail_active.png) 0 0/100% no-repeat;
		transition-duration: 0.3s;
	}
	
	.header_mail:before {
		display: none;
	}

	.header {
		position: relative;
		z-index: 3;
	}

	.header_body{
		position: relative;
		z-index: 4;

	}

	.content {
		position: relative;
		z-index: 1;
	}
}

@media (max-width: 352px){
	.content .ex{
		width: 240px;
		height: 193px;
		margin-bottom: 10px;
	}

	.ex:after {
		content: '';
		position: absolute;
		width: 30px;
		height: 30px;
		background: url(../img/clip.png) 0 0/100% no-repeat;
		top: -15px;
		left: 190px;
	}
	
}
