@media (max-width: 1023px){
	.header_body, .content {
		width: 90%;
	}


}


@media (max-width: 767px){
	.header_body, .content {
		width: 85%;
	}

	.education,
	.hobby,
	.contacts,
	.portfolio {
		padding: 10px;
	}

}

@media (max-width: 635px){
	.hobby p,
	.hobby_header span {
	position: relative;
	left: 0;
	top: auto;
	}

	.hobby p{
		display: inline-block;
		margin-bottom: 15px;
	}
	.hobby p span {
		position: relative;
		top: -10px;
		display: none;
	}

	.hobby {
		width: auto;
		height: auto;
		align-self: start;
		display: flex;
		flex-direction: column;
	}

	.hobby_header {
		margin-bottom: 20px;
	}

	.hobby_web:before {
	width: 30px;
	height: 30px;
	left: 175px;
	top: 2px;
	}
	.hobby_basket:before {
	width: 20px;
	height: 20px;
	left: 105px;
	top: 0px;
	}
	.hobby_jogg:before {
	width: 35px;
	height: 35px;
	left: 80px;
	top: -5px;
	}
	.hobby_tennis:before {
	width: 25px;
	height: 25px;
	left: 120px;
	top: -2px;
	}

	.education,
	.hobby,
	.contacts,
	.portfolio {
		margin: 30px 10px;
	}
	

	
}

@media (max-width: 450px){
	
	
	.header_mail {
		position: static;
	}
	.text_mail{
		display: block;
		background-color: #9E9B98;
		height: 30px;
		width: 100%;
		position: absolute;
		top: 80px;
		left: 150%;
		text-align: center;
		transition-duration: 0.3s;
		z-index: 2;

	}
	

	.text_mail.active{
		left: 0px;
		transition-duration: 0.7s;
		transition-timing-function: cubic-bezier(0.68, -0.55, 0.0001, 1.29);


	}
	.icon_mail{
		display: inline-block;
		width: 25px;
		height: 25px;
		background: url(../img/mail.png) 0 0/100% no-repeat;
		transition-duration: 0.3s;
	}

	.icon_mail.active{
		background: url(../img/mail_active.png) 0 0/100% no-repeat;
		transition-duration: 0.3s;
	}
	
	.header_mail:before {
		display: none;
	}

	.header {
		position: relative;
		z-index: 3;
	}

	.header_body{
		position: relative;
		z-index: 4;

	}

	.content {
		position: relative;
		z-index: 1;
	}
}



@media (max-width: 360px){
	body, html {
		width: 110%;
	}
	.header_body, .content {
		width: 320px;
	}
}
