.wrapper {
	width: 100%;
	min-height: 100%;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: #686461;
	background-color: #E1DCE0;
	display: flex;
	flex-direction: column;
	align-items: center;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
	position: relative;
	overflow: hidden;
}
.header {
	width: 100%;
	height: 80px;
	background-color: #9E9B98;
	display: flex;
	justify-content: center;
}
.header_body {
	width: 1018px;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.ava {
	width: 120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_mail {
	display: flex;
	align-items: center;
	position: relative;
	height: 18px;
}

.header_mail:before {
	content: '';
	background: url(../img/mail.png) 0 0/100% no-repeat;
	position: absolute;
	left: -25px;
	top: -2px;
	width: 20px;
	height: 20px;
}

.ava_text span,
.header_mail span {
	color: #E1DCE0;
}

.ava_text span {
	font-weight: 600;
}

.ava_circle {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	background-color: #BACBDB;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ava_img {
	width: 54px;
	height: 54px;
	background-color: #686461;
	border-radius: 50%;
	background: url(../img/me.jpg) 0 0/100% no-repeat;
}

.ava_img:hover {
	cursor: cell;
}

.content {
	width: 1018px;
	flex: 1 1 auto;
	padding: 80px 0;
}

.ex {
	width: 457px;
	height: 367px;
	display: inline-block;
	background-color: #9E9B98;
	position: relative;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
	border-radius: 10px;
	text-align: center;
	color: #686461;
	font-size: 14px;
}

.ex a{
	margin-bottom: 4px;
}
.example1 {
	left: 0;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
}

.example2 {
	transform: scale(0.689);
	left: 170px;
	top: -40px;
}

.ex:before {
	content: '';
	position: absolute;
	width: 30px;
	height: 30px;
	background: url(../img/clip.png) 0 0/100% no-repeat;
	top: -15px;
	left: 20px;

	z-index: 2;
}
.ex:after {
	content: '';
	position: absolute;
	width: 30px;
	height: 30px;
	background: url(../img/clip.png) 0 0/100% no-repeat;
	top: -15px;
	left: 400px;
	z-index: 2;

}

.example3{
	transform: scale(0.7789);
	

}

.example4 {
	transform:  scale(1.1159);
	left: 73px;
	top: -10px;
}

.example5 {
	transform: scale(0.8927);
	left: -24px;
	top: 30px;
	
}

.example6 {
	transform: scale(0.8074);
	left: 143px;
	top: 50px;
}



.cover {
	width: 457px;
	height: 367px;
	background-color: rgba(186, 203, 219, 0.99);
	position: absolute;
	top: 0;
	transition-duration: 0.5s;
	border-radius: 10px;
	z-index: 1;
	
}

.ex:hover .cover{
	height: 2%;
	transition-duration: 0.3s;
}

.ex1_img {
	width: 80%;
	display: block;
	height: 90%;
	background: url(../img/сat1.jpg) 0px 0px/100% no-repeat;
	margin: 0 auto;
	border-radius: 5px;
}

.ex2_img {
	width: 70%;
	display: block;
	height: 90%;
	background: url(../img/orangeThing.png) 0 10px/100% no-repeat;
	margin: 0 auto;
	border-radius: 20px;
}

.ex3_img {
	width: 80%;
	display: block;
	height: 90%;
	background: url(../img/cat3.jpg) 0px 0/100% no-repeat;
	margin: 0 auto;
	border-radius: 5px;
}
.ex4_img {
	width: 80%;
	display: block;
	height: 90%;
	background: url(../img/cat4.jpg) 0px 0px/100% no-repeat;
	margin: 0 auto;
	border-radius: 5px;
}
.ex5_img {
	width: 80%;
	display: block;
	height: 90%;
	background: url(../img/cat5.jpg) 0px 0px/100% no-repeat;
	margin: 0 auto;
	border-radius: 5px;
}
.ex6_img {
	width: 80%;
	display: block;
	height: 90%;
	background: url(../img/cat2.jpg) 0px 0px/100% no-repeat;
	margin: 0 auto;
	border-radius: 5px;
}
